html {
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;
  color: #cfd2da;
}
a:active,
a:hover {
  outline: 0;
  color: white;
  text-decoration: none;
}

.iconButton:hover{
  color: white !important;
}

img {
  border: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #cfd2da;
  background-color: #252830;
}

hr {
  border-top: 1px solid #434857
}

.nav-link {
  color: #cfd2da !important;
}

.nav-link:hover {
  color: white !important;
}

.navbar-brand:hover {
  color: white !important;
}

.m-t-70 {
  margin-top: 55px;
}

.tm.black{
  background-color: black !important;
}

.tm.avatar-button {
  padding: 0;
  border: 0;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;
}

.tm.mobile.button {
  padding: 0;
  border: 0;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;
}

.tm.avatar{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 0;
  vertical-align: middle;
}


.tm.header{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.tm.brand {
  color: #cfd2da;
}

.tm.mobile.header{
  font-size: 1.5rem;
  font-family: Roboto;
  outline: none !important;

}

.tm.menu.item{
  padding-top: 5px;
}

.tm.title{
  font-size: 1.5rem;
}

.Select > .Select-control{
  border: none;
  background-color: #434857;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.Select > .Select-control:hover{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
  border: 1px solid #999999;
}

.Select > .Select-control:focus{
  border: 1px solid #999999;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.is-open > .Select-control{
  border: 1px solid #999999;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.has-value > .Select-control > .Select-placeholder{
  color: #cfd2da;
}

.file-custom,
.form-control{
  color: #cfd2da;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #434857;
  border: 1px solid #434857;
  font-size: .9rem;
  border-radius: 4px;
  height: 35px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.file-custom:before{
  color: #cfd2da;
  padding-left: 15px;
  padding-right: 15px;
  top: -.01rem;
  background-color: #38393C;
  border: 1px solid #434857;
  border-radius: 0 .25rem .25rem 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  height: 33px;
}

.file-custom:focus,
.form-control:focus {
  color: #252830;
  background-color: #fff;
  box-shadow: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0;
}

.file-custom:hover,
.form-control:hover{
  border-color: #999999;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.form-control.error{
  background-color: #F69694;
  color: #252830;
}

.form-control.error:focus {
  color: #252830;
  background-color: #F69694;
  box-shadow: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0;
}


button {
  border-radius: 4px;
}

button:hover {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.tm.list-item{
  border: 1px solid #434857;
  color: #cfd2da;
  margin-bottom: -1px;
}

.tm.list-item:hover{
  text-decoration: none;
  color: #cfd2da;
  background-color: #434857;
}

.dropdown-item {
  color: #eeeeee;
  font-size: 0.8rem;
}

.dropdown-header {
  color: #eeeeee;
}

.dropdown-menu {
  background-color: #434857;
  border-radius: 4px;
  border-color: #999999;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
  margin-right: 5px;
}

